# main.ipynb

This notebook runs the data parsing notebook `parse_data.ipynb` and reports a summary.

In [1]:
%run parse_data.ipynb

In [2]:
df.describe()

,PM_Dongsi,PM_Dongsihuan,PM_Nongzhanguan,dew point temperature,humidity,pressure,temperature,precipitation
count,25052.000000,20508.000000,24931.000000,52579.000000,52245.000000,52245.000000,52579.000000,52100.000000
mean,89.154439,92.560806,88.643737,2.074554,54.602421,1016.465442,12.587040,19.258683
std,87.239267,88.027434,88.041166,14.222059,25.991338,10.295070,12.098527,4381.035532
min,3.000000,3.000000,3.000000,-40.000000,2.000000,991.000000,-19.000000,0.000000
25%,24.000000,28.000000,24.000000,-10.000000,31.000000,1008.000000,2.000000,0.000000
50%,64.000000,68.000000,62.000000,2.000000,55.000000,1016.000000,14.000000,0.000000
75%,124.000000,127.000000,122.000000,15.000000,78.000000,1025.000000,23.000000,0.000000
max,737.000000,672.000000,844.000000,28.000000,100.000000,1046.000000,42.000000,999990.000000