# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [1]:
import pandas as pd

df0 = pd.read_csv('BeijingPM20100101_20151231.csv')
df1 = pd.read_csv('ChengduPM20100101_20151231.csv')
df2 = pd.read_csv('GuangzhouPM20100101_20151231.csv')
df3 = pd.read_csv('ShanghaiPM20100101_20151231.csv')
df4 = pd.read_csv('ShenyangPM20100101_20151231.csv')
df0.describe()

,No,year,month,day,hour,season,PM_Dongsi,PM_Dongsihuan,PM_Nongzhanguan,PM_US Post,DEWP,HUMI,PRES,TEMP,Iws,precipitation,Iprec
count,52584.000000,52584.000000,52584.000000,52584.000000,52584.000000,52584.000000,25052.000000,20508.000000,24931.000000,50387.000000,52579.000000,52245.000000,52245.000000,52579.000000,52579.000000,52100.000000,52100.000000
mean,26292.500000,2012.499772,6.523962,15.726609,11.500000,2.491100,89.154439,92.560806,88.643737,95.904241,2.074554,54.602421,1016.465442,12.587040,23.261829,19.258683,19.519008
std,15179.837614,1.707485,3.448452,8.798896,6.922252,1.116988,87.239267,88.027434,88.041166,91.643772,14.222059,25.991338,10.295070,12.098527,49.281706,4381.035532,4381.036040
min,1.000000,2010.000000,1.000000,1.000000,0.000000,1.000000,3.000000,3.000000,3.000000,1.000000,-40.000000,2.000000,991.000000,-19.000000,0.450000,0.000000,0.000000
25%,13146.750000,2011.000000,4.000000,8.000000,5.750000,1.000000,24.000000,28.000000,24.000000,27.000000,-10.000000,31.000000,1008.000000,2.000000,1.790000,0.000000,0.000000
50%,26292.500000,2012.000000,7.000000,16.000000,11.500000,2.000000,64.000000,68.000000,62.000000,69.000000,2.000000,55.000000,1016.000000,14.000000,4.920000,0.000000,0.000000
75%,39438.250000,2014.000000,10.000000,23.000000,17.250000,3.000000,124.000000,127.000000,122.000000,132.000000,15.000000,78.000000,1025.000000,23.000000,21.020000,0.000000,0.000000
max,52584.000000,2015.000000,12.000000,31.000000,23.000000,4.000000,737.000000,672.000000,844.000000,994.000000,28.000000,100.000000,1046.000000,42.000000,585.600000,999990.000000,999990.000000

In [2]:
df1.describe()

,No,year,month,day,hour,season,PM_Caotangsi,PM_Shahepu,PM_US Post,DEWP,HUMI,PRES,TEMP,Iws,precipitation,Iprec
count,52584.000000,52584.000000,52584.000000,52584.000000,52584.000000,52584.000000,24420.000000,24594.000000,28900.000000,52055.000000,52049.000000,52063.000000,52057.000000,52051.000000,49629.000000,49629.000000
mean,26292.500000,2012.499772,6.523962,15.726609,11.500000,2.491100,77.507002,75.555867,83.407612,12.274556,73.224697,1014.621985,17.698158,4.347654,0.107161,0.591557
std,15179.837614,1.707485,3.448452,8.798896,6.922252,1.116988,60.150955,60.337735,57.239585,7.531846,17.819088,8.111353,7.843607,6.423547,1.023369,5.117582
min,1.000000,2010.000000,1.000000,1.000000,0.000000,1.000000,3.000000,1.000000,1.000000,-16.000000,12.780000,991.000000,-3.000000,0.000000,0.000000,0.000000
25%,13146.750000,2011.000000,4.000000,8.000000,5.750000,1.000000,37.000000,35.000000,44.000000,6.000000,61.440000,1008.000000,11.000000,1.000000,0.000000,0.000000
50%,26292.500000,2012.000000,7.000000,16.000000,11.500000,2.000000,60.000000,57.000000,68.000000,13.000000,77.010000,1014.900000,18.000000,2.000000,0.000000,0.000000
75%,39438.250000,2014.000000,10.000000,23.000000,17.250000,3.000000,99.000000,97.000000,105.000000,19.000000,87.750000,1021.000000,24.000000,5.000000,0.000000,0.000000
max,52584.000000,2015.000000,12.000000,31.000000,23.000000,4.000000,662.000000,573.000000,688.000000,28.000000,100.000000,1041.000000,38.000000,120.000000,57.000000,169.400000

In [3]:
df2.describe()

,No,year,month,day,hour,season,PM_City Station,PM_5th Middle School,PM_US Post,DEWP,HUMI,PRES,TEMP,Iws,precipitation,Iprec
count,52584.000000,52584.000000,52584.000000,52584.000000,52584.000000,52583.000000,32352.000000,21095.000000,32352.000000,52583.000000,52583.000000,52583.000000,52583.000000,52583.000000,52583.000000,52583.000000
mean,26292.500000,2012.499772,6.523962,15.726609,11.500000,2.491071,50.803938,49.064138,50.803938,16.472691,75.846776,1005.369260,21.996151,7.633037,0.241240,1.086764
std,15179.837614,1.707485,3.448452,8.798896,6.922252,1.116979,36.927474,30.677967,36.927474,87.665141,89.510026,6.917953,6.782722,11.965554,1.941028,7.441679
min,1.000000,2010.000000,1.000000,1.000000,0.000000,1.000000,1.000000,2.000000,1.000000,-9999.000000,-9999.000000,975.000000,1.700000,0.000000,0.000000,0.000000
25%,13146.750000,2011.000000,4.000000,8.000000,5.750000,1.000000,24.000000,28.000000,24.000000,12.400000,66.000000,1000.100000,17.300000,1.800000,0.000000,0.000000
50%,26292.500000,2012.000000,7.000000,16.000000,11.500000,2.000000,43.000000,42.000000,43.000000,19.100000,81.000000,1005.200012,23.500000,3.800000,0.000000,0.000000
75%,39438.250000,2014.000000,10.000000,23.000000,17.250000,3.000000,68.000000,62.000000,68.000000,23.600000,91.000000,1010.600000,26.800000,8.600000,0.000000,0.000000
max,52584.000000,2015.000000,12.000000,31.000000,23.000000,4.000000,526.000000,940.000000,526.000000,27.500000,100.000000,1027.800000,37.400002,214.300000,99.100000,271.900000

In [4]:
df2.describe()

,No,year,month,day,hour,season,PM_City Station,PM_5th Middle School,PM_US Post,DEWP,HUMI,PRES,TEMP,Iws,precipitation,Iprec
count,52584.000000,52584.000000,52584.000000,52584.000000,52584.000000,52583.000000,32352.000000,21095.000000,32352.000000,52583.000000,52583.000000,52583.000000,52583.000000,52583.000000,52583.000000,52583.000000
mean,26292.500000,2012.499772,6.523962,15.726609,11.500000,2.491071,50.803938,49.064138,50.803938,16.472691,75.846776,1005.369260,21.996151,7.633037,0.241240,1.086764
std,15179.837614,1.707485,3.448452,8.798896,6.922252,1.116979,36.927474,30.677967,36.927474,87.665141,89.510026,6.917953,6.782722,11.965554,1.941028,7.441679
min,1.000000,2010.000000,1.000000,1.000000,0.000000,1.000000,1.000000,2.000000,1.000000,-9999.000000,-9999.000000,975.000000,1.700000,0.000000,0.000000,0.000000
25%,13146.750000,2011.000000,4.000000,8.000000,5.750000,1.000000,24.000000,28.000000,24.000000,12.400000,66.000000,1000.100000,17.300000,1.800000,0.000000,0.000000
50%,26292.500000,2012.000000,7.000000,16.000000,11.500000,2.000000,43.000000,42.000000,43.000000,19.100000,81.000000,1005.200012,23.500000,3.800000,0.000000,0.000000
75%,39438.250000,2014.000000,10.000000,23.000000,17.250000,3.000000,68.000000,62.000000,68.000000,23.600000,91.000000,1010.600000,26.800000,8.600000,0.000000,0.000000
max,52584.000000,2015.000000,12.000000,31.000000,23.000000,4.000000,526.000000,940.000000,526.000000,27.500000,100.000000,1027.800000,37.400002,214.300000,99.100000,271.900000

In [5]:
df3.describe()

,No,year,month,day,hour,season,PM_Jingan,PM_US Post,PM_Xuhui,DEWP,HUMI,PRES,TEMP,Iws,precipitation,Iprec
count,52584.000000,52584.000000,52584.000000,52584.000000,52584.000000,52584.000000,24700.000000,34039.000000,25189.000000,52571.000000,52571.000000,52556.000000,52571.000000,52572.000000,48575.000000,48575.000000
mean,26292.500000,2012.499772,6.523962,15.726609,11.500000,2.491100,57.395992,52.910544,57.678987,11.295372,69.545646,1016.017564,17.471115,49.602367,0.142001,0.935362
std,15179.837614,1.707485,3.448452,8.798896,6.922252,1.116988,47.616179,42.576138,48.412620,9.877649,17.658942,9.016829,9.315528,78.283572,1.065094,6.586855
min,1.000000,2010.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-21.000000,11.320000,990.000000,-5.000000,0.000000,0.000000,0.000000
25%,13146.750000,2011.000000,4.000000,8.000000,5.750000,1.000000,26.000000,26.000000,26.000000,3.000000,57.930000,1008.100000,10.000000,6.000000,0.000000,0.000000
50%,26292.500000,2012.000000,7.000000,16.000000,11.500000,2.000000,44.000000,41.000000,43.000000,12.000000,72.420000,1016.000000,18.000000,20.000000,0.000000,0.000000
75%,39438.250000,2014.000000,10.000000,23.000000,17.250000,3.000000,73.000000,67.000000,73.000000,20.000000,83.370000,1023.000000,25.000000,61.000000,0.000000,0.000000
max,52584.000000,2015.000000,12.000000,31.000000,23.000000,4.000000,635.000000,730.000000,636.000000,28.000000,100.000000,1040.000000,41.000000,1110.000000,61.600000,226.400000

In [6]:
df4.describe()

,No,year,month,day,hour,season,PM_Taiyuanjie,PM_US Post,PM_Xiaoheyan,DEWP,HUMI,PRES,TEMP,Iws,precipitation,Iprec
count,52584.000000,52584.000000,52584.000000,52584.000000,52584.000000,52584.000000,24388.000000,21680.00000,24627.000000,51892.000000,51904.000000,51892.000000,51892.000000,51892.000000,39821.000000,39821.000000
mean,26292.500000,2012.499772,6.523962,15.726609,11.500000,2.491100,81.189683,75.83750,75.240468,0.850304,63.006561,1016.005492,8.460495,19.816487,0.083895,0.497750
std,15179.837614,1.707485,3.448452,8.798896,6.922252,1.116988,80.112376,68.99593,78.404401,14.261483,21.883355,9.724308,13.948303,32.135270,0.717721,4.360741
min,1.000000,2010.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.00000,2.000000,-97.000000,0.000000,988.000000,-28.000000,0.000000,0.000000,0.000000
25%,13146.750000,2011.000000,4.000000,8.000000,5.750000,1.000000,32.000000,31.00000,28.000000,-11.000000,46.260000,1008.000000,-3.000000,3.000000,0.000000,0.000000
50%,26292.500000,2012.000000,7.000000,16.000000,11.500000,2.000000,59.000000,57.00000,51.000000,1.000000,64.720000,1016.000000,10.000000,8.000000,0.000000,0.000000
75%,39438.250000,2014.000000,10.000000,23.000000,17.250000,3.000000,103.000000,97.00000,93.000000,14.000000,82.010000,1024.000000,21.000000,23.000000,0.000000,0.000000
max,52584.000000,2015.000000,12.000000,31.000000,23.000000,4.000000,1528.000000,932.00000,1361.000000,28.000000,100.000000,1043.000000,35.000000,465.000000,33.100000,120.000000

<br>
<br>

The dependent and independent variables variables (DVs and IVs) that we are interested in are:

**DVs**:
- PM2.5 concentration (g/m)

**IVs**:
- Dew point temperature("DEWP" column in the CSV file)
- Humidity ("HUMI" column in the CSV file)
- Pressure  ("PRES" column in the CSV file)
- Temperature("TEMP" column in the CSV file)
- Precipitation("precipitation" column in the CSV file)


<br>
<br>

Let's extract the relevant columns:

In [7]:

df = df0[  ['DEWP', 'HUMI', 'PRES', 'TEMP','precipitation']  ]

df.describe()

               DEWP          HUMI          PRES          TEMP  precipitation
count  52579.000000  52245.000000  52245.000000  52579.000000   52100.000000
mean       2.074554     54.602421   1016.465442     12.587040      19.258683
std       14.222059     25.991338     10.295070     12.098527    4381.035532
min      -40.000000      2.000000    991.000000    -19.000000       0.000000
25%      -10.000000     31.000000   1008.000000      2.000000       0.000000
50%        2.000000     55.000000   1016.000000     14.000000       0.000000
75%       15.000000     78.000000   1025.000000     23.000000       0.000000
max       28.000000    100.000000   1046.000000     42.000000  999990.000000

<br>
<br>

Next let's use the `rename` function to give the columns simpler variable names:

In [8]:
df = df.rename( columns={'DEWP':'dew point temperature', 'HUMI':'humidity', 'PRES':'pressure', 'TEMP':'temperature'} )

df.describe()

,dew point temperature,humidity,pressure,temperature,precipitation
count,52579.000000,52245.000000,52245.000000,52579.000000,52100.000000
mean,2.074554,54.602421,1016.465442,12.587040,19.258683
std,14.222059,25.991338,10.295070,12.098527,4381.035532
min,-40.000000,2.000000,991.000000,-19.000000,0.000000
25%,-10.000000,31.000000,1008.000000,2.000000,0.000000
50%,2.000000,55.000000,1016.000000,14.000000,0.000000
75%,15.000000,78.000000,1025.000000,23.000000,0.000000
max,28.000000,100.000000,1046.000000,42.000000,999990.000000