# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [13]:
import pandas as pd

df = pd.read_csv('BeijingPM20130101_20151231.csv')

df.describe()

,No,year,month,day,hour,season,PM_Dongsi,PM_Dongsihuan,PM_Nongzhanguan,PM_US Post,DEWP,HUMI,PRES,TEMP,Iws,precipitation,Iprec
count,26280.000000,26280.000000,26280.000000,26280.000000,26280.000000,26280.000000,25052.000000,20508.000000,24931.000000,25970.000000,26275.000000,25941.000000,25941.000000,26275.000000,26275.000000,25796.000000,25796.000000
mean,39444.500000,2014.000000,6.526027,15.720548,11.500000,2.490411,89.154439,92.560806,88.643737,94.094686,2.247916,53.607610,1016.328765,13.119696,20.265903,38.815386,38.971465
std,7586.526873,0.816512,3.447917,8.796414,6.922318,1.116788,87.239267,88.027434,88.041166,93.806554,13.896571,25.857439,10.246494,11.759724,45.701732,6226.148188,6226.147512
min,26305.000000,2013.000000,1.000000,1.000000,0.000000,1.000000,3.000000,3.000000,3.000000,1.000000,-40.000000,2.000000,991.000000,-17.000000,0.450000,0.000000,0.000000
25%,32874.750000,2013.000000,4.000000,8.000000,5.750000,1.000000,24.000000,28.000000,24.000000,27.000000,-9.000000,31.000000,1008.000000,3.000000,1.790000,0.000000,0.000000
50%,39444.500000,2014.000000,7.000000,16.000000,11.500000,2.000000,64.000000,68.000000,62.000000,66.000000,3.000000,54.000000,1016.000000,14.000000,4.920000,0.000000,0.000000
75%,46014.250000,2015.000000,10.000000,23.000000,17.250000,3.000000,124.000000,127.000000,122.000000,126.000000,15.000000,77.000000,1025.000000,23.000000,17.890000,0.000000,0.000000
max,52584.000000,2015.000000,12.000000,31.000000,23.000000,4.000000,737.000000,672.000000,844.000000,886.000000,27.000000,100.000000,1046.000000,42.000000,490.380000,999990.000000,999990.000000

<br>
<br>

The dependent and independent variables variables (DVs and IVs) that we are interested in are:

**DVs**:
- PM2.5 concentration (μg/m)

**IVs**:
- Dew_Point_Temperature　("DEWP" column in the CSV file)
- Humidity ("HUMI" column in the CSV file)
- Pressure  ("PRES" column in the CSV file)
- Temperature("TEMP" column in the CSV file)
- Precipitation("precipitation" column in the CSV file)
- Hour("hour" column in the CSV file)

<br>
<br>

Let's extract the relevant columns:

In [15]:

df = df[['hour', 'PM_US Post', 'DEWP', 'HUMI', 'PRES', 'TEMP','precipitation']]

df.describe()

,hour,PM_US Post,DEWP,HUMI,PRES,TEMP,precipitation
count,26280.000000,25970.000000,26275.000000,25941.000000,25941.000000,26275.000000,25796.000000
mean,11.500000,94.094686,2.247916,53.607610,1016.328765,13.119696,38.815386
std,6.922318,93.806554,13.896571,25.857439,10.246494,11.759724,6226.148188
min,0.000000,1.000000,-40.000000,2.000000,991.000000,-17.000000,0.000000
25%,5.750000,27.000000,-9.000000,31.000000,1008.000000,3.000000,0.000000
50%,11.500000,66.000000,3.000000,54.000000,1016.000000,14.000000,0.000000
75%,17.250000,126.000000,15.000000,77.000000,1025.000000,23.000000,0.000000
max,23.000000,886.000000,27.000000,100.000000,1046.000000,42.000000,999990.000000

<br>
<br>

Next let's use the `rename` function to give the columns simpler variable names:

In [16]:
df = df.rename( columns={'PM_US Post':'PM_US_Post', 'hour':'Hour', 'DEWP':'Dew_Point_Temperature', 'HUMI':'Humidity', 'PRES':'Pressure', 'TEMP':'Temperature', 'precipitation':'Precipitation'} )

df.describe()

,Hour,PM_US_Post,Dew_Point_Temperature,Humidity,Pressure,Temperature,Precipitation
count,26280.000000,25970.000000,26275.000000,25941.000000,25941.000000,26275.000000,25796.000000
mean,11.500000,94.094686,2.247916,53.607610,1016.328765,13.119696,38.815386
std,6.922318,93.806554,13.896571,25.857439,10.246494,11.759724,6226.148188
min,0.000000,1.000000,-40.000000,2.000000,991.000000,-17.000000,0.000000
25%,5.750000,27.000000,-9.000000,31.000000,1008.000000,3.000000,0.000000
50%,11.500000,66.000000,3.000000,54.000000,1016.000000,14.000000,0.000000
75%,17.250000,126.000000,15.000000,77.000000,1025.000000,23.000000,0.000000
max,23.000000,886.000000,27.000000,100.000000,1046.000000,42.000000,999990.000000